#logo {
  border-radius: 50%;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  /* image source is 600x600 */
}

/* The overlay makes the logo blend in the page much better */
/* since the image has a white background */
#overlay {
  position: absolute;
  background-color: var(--mainBackgroundColor);
  /* background-color: yellowgreen; */
  mix-blend-mode: multiply;
}

#text {
  font-size: 2rem;
  color: var(--darkForegroundColor);
}

.container {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
