@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

.lumanosimo-regular {
  font-family: "Lumanosimo", cursive;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --lightBackgroundColor: #73ab84;
  --darkBackgroundColor: #4c5c68;
  --lightForegroundColor: #f0fff0;
  --darkForegroundColor: #23022e;
  --activeColor: #d68c45;
  --mainBackgroundColor: #fff5ee;
}

html {
  /* for rem reference */
  font-size: 14px;
}
